*{
    font-family: serif;
    margin: 0;
    padding: 0;
}

body {
    background: url(/img/d0b1d2467d29fdaec3b3fd1f6c627dd5.jpg);
    background-size: cover;
    background-position: center;
}

section {
    width: 700px;
    height: 500px;
    margin: 150px auto;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}


#face {
    text-align: center;
    padding: 20px;
}

#face img{
    border-radius: 100px;
    border: 1px solid black;
}

#column {
    width: 250px;
}



#sidebar{
    width: 400px;
    float: right;
    margin-top: -230px;
}