*{
    margin: 0;
    padding: 0;
}

.icon-bar {
    width: 100%;
    background-color: white;
    overflow: auto;
}
  
.icon-bar a {
    float: left;
    width: 10%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: black;
    font-size: 36px;
}
  
.icon-bar a:hover {
    background-color: #ffbf00;
    color: white;
}

section {
    max-width: 1170px;
    margin: 20px auto;
    background-color: #ffbf00;
    padding: 20px;
    border: 10px dotted black;
    border-radius: 20px;
}
h2 {
    color: white;
}

p {
    width: 400px;
    padding: 5px;
}

img {
    margin-left: 450px;
    margin-top: -60px;
}